%section{role: 'search'}
  .container
    %form.search-form
      .search-field
        = search_field_tag "search", nil, placeholder: "Search"
        = submit_tag '', class: "search-submit-button"
%div{role: 'main'}
  .shadow
    .container
      %aside{role: 'popular_recipes'}
        %h3 Popular recipes
        %ul.recipes-list
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
        %ul.recipes-list
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
      %aside{role: 'recently_recipes'}
        %h3 Recently recipes
        %ul.recipes-list
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
        %ul.recipes-list
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
    .container
      %aside{role: 'actions'}
        .find-best
          %h4 Find best recipes
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
          %a{href: '/'} Find
        .create-cookbook
          %h4 Create your Cookbook
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
          %a{href: '/'} Create
        .share-recipes
          %h4 Share your recipes
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
          %a{href: '/'} Share
    .container
      %aside{role: 'recipe-dayly'}
