%section{role: 'search'}
  .container
    %form.search-form
      .search-field
        = search_field_tag "search", nil, placeholder: "Search"
        = submit_tag '', class: "search-submit-button"
%div{role: 'main'}
  .shadow
    .container
      %aside{role: 'popular_recipes'}
        %h3 Popular recipes
        %ul.recipes-list
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
        %ul.recipes-list
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
      %aside{role: 'recently_recipes'}
        %h3 Recently recipes
        %ul.recipes-list
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
        %ul.recipes-list
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
          %li
            %a{href: '/'} Delicious Ham and Potato Soup
          %li
            %a{href: '/'} Banana Crumb Muffins
          %li
            %a{href: '/'} Clone of a Cinnabon
          %li
            %a{href: '/'} Soybean Milk
    .container
      %aside{role: 'actions'}
        .find-best
          %h4 Find best recipes
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
          %a{href: '/'} Find
        .create-cookbook
          %h4 Create your Cookbook
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
          %a{href: '/'} Create
        .share-recipes
          %h4 Share your recipes
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
          %a{href: '/'} Share
    .container
      %aside{role: 'recipe-daily'}
        %figure.chosen
          = image_tag 'pasta.png'
        %h4
          %a{href: '/'} Best Italian Sausage Soup
        .time 1 hour
        .ingredients
          %ul
            %li 1 1/2 pounds sweet Italian sausage
            %li 2 cloves garlic, minced
            %li 2 small onions, chopped
            %li 2 (16 ounce) cans whole peeled tomatoes
            %li 1 1/4 cups dry red wine
            %li 5 cups beef broth
          %ul
            %li 5 cups beef broth 5 cups beef broth 5 cups beef
            %li 1/2 teaspoon dried basil
            %li 1/2 teaspoon dried oregano
            %li 2 zucchini, sliced
            %li 1 green bell pepper, chopped
            %li . . .
