@font-face {
  font-family: 'Engine-Italic';
  src: font-url('engineitalic.eot');
  src: font-url('engineitalic.eot?#iefix') format('embedded-opentype'),
  font-url('engineitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Engine-Regular';
  src: font-url('engineregular.eot');
  src: font-url('engineregular.eot?#iefix') format('embedded-opentype'), font-url('engineregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_HelveticaNeue-Condensed';
  src: font-url('HelveticaNeue-Condensed.eot');
  src: local('☺'), font-url('HelveticaNeue-Condensed.woff') format('woff'), url('HelveticaNeue-Condensed.ttf') format('truetype'), url('HelveticaNeue-Condensed.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'helvetica';
  src: font-url('helvetica.eot');
  src: local('☺'), font-url('helvetica.woff') format('woff'), url('helvetica.ttf') format('truetype'), url('helvetica.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'liberation_sansregular';
    src: url('LiberationSans-Regular-webfont.eot');
    src: url('LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LiberationSans-Regular-webfont.woff') format('woff'),
         url('LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('LiberationSans-Regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'birch_ctt';
    src: font-url('BirchCTT.eot');
    src: font-url('BirchCTT.eot?#iefix') format('embedded-opentype'),
         font-url('BirchCTT.woff') format('woff'),
         font-url('BirchCTT.ttf') format('truetype'),
         font-url('BirchCTT.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
