.breadcrumbs, .breadcrumbs a {
  color: #cccccc;
  font-family: "liberation_sansregular", sans-serif;
  font-size: 13px;
}

.breadcrumbs {
  padding-top: 16px;
  margin-bottom: 39px;
}

section[role="main"] {
  .container {
    padding: 0 35px;
    box-sizing: border-box;
  }
}

.recipe__details {
  float: left;
  width: 652px;
}

.recipe {
  margin-bottom: 45px;
  figure {
    margin: 0 28px 0 0;
    width: 210px;
    height: 163px;
    float: left;
  }

  h3 {
    margin-bottom: 23px;
  }

  .ingredients {
    float: left;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        color: #acacac;
        font: {
          family: "liberation_sansregular";
          size: 13px;
        }
      }
    }
  }

  .meta {
    float: right;
    dl, dd {
      margin: 0;
    }
    dt {
      font-family: "liberation_sansregular", sans-serif;
      font-size: 13px;
      color: #acacac;
      margin-bottom: 5px;
    }
  }

  .prep-steps {
    font-family: "liberation_sansregular", sans-serif;
    color: #636363;
    font-size: 13px;
    margin-top: 20px;
  }
}
