section[role="search"] {
  background-image: image-url("search_bg_wrapper.png");

  .container {
    background-image: image-url("search_bg.png");
    height: 310px;
  }
}

.search-form {
  position: absolute;
  top: 184px;
  left: 207px;
  display: inline;

  input[type="search"] {
    width: 395px;
    float: left;
    border: 1px solid #dedede;
    height: 36px;
  }
}

.search-submit-button {
  width: 40px;
  border: none;
  background: #4b9a03 image-url("search_icon.png") no-repeat 10px 9px;
}
