section[role="search"] {
  background-image: image-url("search_bg_wrapper.png");

  .container {
    background-image: image-url("search_bg.png");
    height: 310px;
  }
}

.search-form {
  position: absolute;
  top: 184px;
  left: 207px;
  display: inline;

  input[type="search"] {
    width: 395px;
    float: left;
    border: 1px solid #dedede;
    height: 36px;
  }
}

.search-submit-button {
  width: 40px;
  border: none;
  background: #4b9a03 image-url("search_icon.png") no-repeat 10px 9px;
}

aside[role="popular_recipes"] {
  background-color: #e2fedf;
  padding: 0 35px 50px;
  width: 410px;
  float: left;

  h3 {
    background: image-url("pop_recipe.png") no-repeat 0 32px;
    font: {
      family: "Engine-Regular";
      size: 36px;
      weight: normal;
    }
    color: #4b9a03;
    padding: 24px 0 24px 47px;
    margin: 0;
  }
}

aside[role="recently_recipes"] {
  background-color: #ffecd0;
  padding: 0 35px 50px;
  float: left;
  width: 410px;

  h3 {
    background: image-url("rec_recipe.png") no-repeat 0 32px;
    font: {
      family: "Engine-Regular";
      size: 36px;
      weight: normal;
    }
    color: #c62f2f;
    padding: 24px 0 24px 47px;
    margin: 0;
  }
}

ul.recipes-list {
  font: {
    family: "Conv_HelveticaNeue-Condensed";
    size: 14px;
  }
  margin: 0 42px 0 0;
  padding: 0;
  float: left;
  list-style: none;

  li {
    padding: 5px 0;

    a:hover {
      cursor: pointer;
      text-decoration: underline;
      color: #417700;
    }
  }

  a {
    color: #636363;
  }

  &:last-child {
    margin-right: 0;
  }

  .list-ul{
    margin-bottom: 14px;
  }
}

aside[role="actions"] {
  height: 193px;
  background-color: #4e991a;
  padding-top: 25px;

  .find-best, .create-cookbook, .share-recipes {
    float: left;
    margin: 0 36px;
    font-family: "Engine-Regular";
    font-size: 31px;
    color: #ffffff;
    width: 188px;
    height: 160px;

    h4 {
      margin: 0;
      font-weight: normal;
    }
  }

  p {
    font: {
      family: "liberation_sansregular";
      size: 14px;
    }
    margin-top: 25px;
  }

  a {
    font: {
      family: "birch_ctt";
      size: 20px;
    }
    color: #8ec061;
    display: block;
    position: absolute;
    bottom: 34px;
    background: image-url('arrow.png') no-repeat 65px 13px;
    width: 90px;
  }
  .create-cookbook {
    background: image-url('cookbook.png') no-repeat 0 0;
    padding-left: 65px;
    width: 213px;
    margin-right: 12px;
  }
  .find-best {
    background: image-url('search.png') no-repeat 0 0;
    padding-left: 54px;
    a {
      background-position: 52px 13px;
    }
  }
  .share-recipes {
    background: image-url('share.png') no-repeat 0 0;
    padding-left: 60px;
  }
}

aside[role="recipe-daily"] {
  height: 206px;
  padding: 40px 44px 0 35px;

  figure, h4 {
    float: left;
  }

  figure {
    margin: 0 28px 0 0;
    width: 210px;
    height: 163px;
  }

  .time {
    border: 1px solid #eddfdf;
    background: image-url("clock.png") no-repeat 20px 8px #f7f7f7;
    padding: 11px 18px 7px 44px;
    font-size: 14px;
    font-family: "Conv_HelveticaNeue-Condensed";
    color: #4b9a03;
    float: right;
  }

  h4 {
    background: image-url("red_arrow.png") no-repeat 0 14px;
    padding-left: 30px;
    margin: 0;
    a {
      color: #c62f2f;
      font-size: 28px;
      font-family: "Engine-Regular";
    }
  }

  .ingredients {
    float: left;
  }

  ul {
    list-style: none;
    float: left;
    li {
      color: #636363;
      font: {
        family: "liberation_sansregular";
        size: 14px;
      }
    }
  }
}
